# asset | core = custom | update
# custom: provide by user
# update: update from internet using magisk manager
core="update"
asset="update"

# config = <your config file name>
config="config.json"


###################
#  TPROXY SECTION #
###################

# TPROXY = true | false
TPROXY="false"

# ipv6 = true | false
ipv6="false"
ipv6_interface=("wlan0" "ccmni-lan")

# proxy_mode = ALL | whitelist | blacklist
proxy_mode="ALL"
uid_list=()

# interface
ap_list=("wlan+" "ap+")
ignore_out_list=()
